<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header">
                    <h3 style="font-weight: bolder; text-align: center; margin-bottom: 30px;">Contact Us</h3>
                </div>
                <div class="card-body">
                  <table>
                      <tr>
                          <td><i class="fas fa-home text-black mr-3" style="color:darkred"></i> Saibaba Nagar, Kharbi, Nagpur</td>
                          <td><i class="fas fa-envelope text-black mr-3" style="color:darkgoldenrod"></i>shital.meshram2330@gmail.com</td>
                          <td><i class="fas fa-phone text-black mr-3" style="color:darkblue;"></i>775706706</td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-home text-black mr-3" style="color:darkred"></i>Sahkar Nagar, Swarget, Pune</td>
                        <td><i class="fas fa-envelope text-black mr-3" style="color:darkgoldenrod"></i>varshagaikwad951@gmail.com</td>
                        <td><i class="fas fa-phone text-black mr-3" style="color:darkblue;"></i>9284107939</td>
                    </tr>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>


