

<div class="container" style="width: 30%;">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="width: 2; background-color:darksalmon;">
          <!-- <img src="../../../assets/card1.jpeg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-weight: bolder;">{{viewProduct.prodName}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span>Discription : </span>{{viewProduct.description}}</li>
            <li class="list-group-item"><span>Price : </span>{{viewProduct.price}}</li>
            <li class="list-group-item"><span>Quantity : </span>{{viewProduct.quantity}}</li>
            <li class="list-group-item"><span>Category : </span>{{viewProduct.category.catName}}</li>
            <li class="list-group-item"><span>Brand : </span>{{viewProduct.category.brand}}</li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>