

<footer class="page-footer bg-dark">
    <div>
      <div class="container bg-success">
        <div class="row py-4 d-flex align-items-content-center">
          <div class="col-md-12 text-center">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white mr-5"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter text-white mr-5"></i></a>
            <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in text-white mr-5"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram text-white"></i></a>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Footer -->
    <div class="container text-center text-md-left mt-5">
      <div class="row">
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">The Provider</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto " style="width:115px; height:2px">
          <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio excepturi dicta iste debitis exercitationem rerum blanditiis impedit, dignissimos perspiciatis in obcaecati natus ducimus. Illum aperiam numquam id adipisci dignissimos?</p>
        </div>
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">Products</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">
  
          <ul class="list-unstyled text-white">
            <li class="my-2 "><i class="fas fa-angle-right text-white mr-2"></i><a href="#"><span class="text-white">Handmade Gifts</span> </a></li>
            <li class="my-2"><i class="fas fa-angle-right text-white mr-2"></i><a href="#"><span class="text-white">Customized Gifts</span></a></li>
            <li class="my-2"><i class="fas fa-angle-right text-white mr-2"></i><a href="#"><span class="text-white">3D Printed Gifts</span></a></li>
            <li class="my-2"><i class="fas fa-angle-right text-white mr-2"></i><a href="#"><span class="text-white">Light Gifts</span></a></li>
            <li class="my-2"><i class="fas fa-angle-right text-white mr-2"></i><a href="#"><span class="text-white">Electronics Gifts</span></a></li>
          </ul>
        </div>
        
  
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">Important Links</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto " style="width:145px; height:2px">
  
          <ul class="list-unstyled text-white">
            <li class="my-2 "><a href="#"><span class="text-white">Home</span> </a></li>
            <li class="my-2"><a [routerLink]="['aboutus']"><span class="text-white">About Us</span></a></li>
            <li class="my-2"><a href="#"><span class="text-white">Contact</span></a></li>
          </ul>
          </div>
  
          <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">Contacts</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto " style="width:85px; height:2px">
  
          <ul class="list-unstyled text-white">
            <li class="my-2 "><i class="fas fa-home text-white mr-3"></i>Saibaba Nagar, Kharbi, Nagpur</li>
            <li class="my-2"><i class="fas fa-envelope text-white mr-3"></i>shital.meshram2330@gmail.co</li>
            <li class="my-2"><i class="fas fa-phone text-white mr-3"></i>775706706</li>
          </ul>
          </div>
          
  
      </div>
    </div>
  </footer>
