

<!-- <div class="col imageright">
    <video class="video" controls autoplay>
      <source src="assets/images/1.mp4" type="video/mp4" />
    </video>
</div> -->

<div class="cardabout card text-center">
    <div class="card-header">
      <h3 style="font-weight: bolder;">About Us</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">eTohfa key to the loved ones <i class="fas fa-heart text-dark mr-7"></i></h5>
      <p class="card-text">Everything about our services and the customers satisfaction</p>
      <a href="#" class="btn btn-dark">Read More</a>
    </div>
  </div>

  <div class="about1 container" style="align-self: center;">
    <div class="row featurette">
        <div class="col-md-8" >
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/card2.jpeg" width="300" height="300" alt="...">
    
        </div>
      </div>
    
      <hr class="featurette-divider">
    
      <div class="row featurette">
        <div class="col-md-8 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4 order-md-1">
          <img src="../../assets/card1.jpeg" width="300" height="300" alt="...">
        </div>
      </div>
  </div>
  